<h2>
    <a href="@Url">@(HtmlEncode(Title))</a>
</h2>

@if (!string.IsNullOrEmpty(Subtitle))
{
    <h3>@(HtmlEncode(Subtitle))</h3>
}

<div class="meta">
    <span class="date"><span class="icon-calendar"></span>@(Date)</span>
    <span class="tags">
        @foreach (var tag in Tags)
        {
            <a href="@(GetTagLink(tag))">
                <span class="icon icon-price-tags"></span>
                <span class="tagName">@(HtmlEncode(tag))</span>
            </a>
        }
    </span>
</div>